* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #eceef1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 30px;
  height: 60px;
}

.nav-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signIn-content {
  margin-right: 15px;
}

.signIn-content a,
p {
  font-size: 12px;
}

.signIn-content a,
.form-header a,
.conditions a,
.form-container-footer a,
.footer a {
  text-decoration: none;
  color: #2777c5;
  font-weight: 300;
}

.signIn-content p {
  color: rgb(138, 138, 138);
  text-align: right;
}

.signIn-btn {
  padding: 10px 20px;
  background-color: #2777c5;
  width: 110px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: none;
}

.signIn-btn i {
  margin-right: 5px;
}

.main {
  height: 100%;
  margin-bottom: 30px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form-container {
  background-color: #fff;
  border: 0.5px solid lightgray;
  border-radius: 3px;
}

.logo {
  margin-bottom: 15px;
  max-width: 100%;
}

.logo img {
  width: 100%;
}

.logo-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-links a {
  text-decoration: none;
}

.logo-links-items {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(121, 121, 121);
}

.logo-links img {
  width: 30px;
  margin-right: 10px;
}

.form-header {
  text-align: center;
  padding: 30px;
}

.form-heading {
  font-weight: 400;
  font-size: 24px;
  color: rgb(88, 88, 88);
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}

.description {
  color: rgb(68, 67, 67);
  font-weight: lighter;
  letter-spacing: 1px;
}

.form-header a {
  font-size: 12px;
}

.email-label,
.phone-label,
.password-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(88, 88, 88);
  font-weight: lighter;
}

.signUp-form {
  text-align: left;
  padding: 0 30px;
}

.signUp-form input {
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0.5px solid lightgray;
}

.signUp-form input:focus {
  outline: none;
}

.signUp-form .phone {
  margin-bottom: 5px;
}

.signUp-form .phone-tip {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(68, 67, 67);
  font-weight: lighter;
}

.password-icon {
  margin-left: -35px;
}

.password-icon i {
  color: #c7c7cd;
}

.createAcc-btn {
  width: 100%;
  padding: 12px 20px;
  background-color: #2777c5;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

.createAcc-btn i {
  margin-right: 5px;
}

.conditions {
  padding: 10px 30px;
  text-align: center;
  line-height: 1.3rem;
  font-style: italic;
  color: rgb(134, 134, 134);
  font-weight: lighter;
  margin-bottom: 15px;
}

.form-container-footer {
  background-color: #eceef1;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container-footer p {
  font-size: 10px;
  letter-spacing: 0.5px;
  color: rgb(134, 134, 134);
}

.footer {
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links,
.footer p {
  margin-bottom: 10px;
}

.footer a,
.footer p {
  font-size: 12px;
}

.footer a {
  margin-right: 10px;
  color: rgb(68, 67, 67);
}

.footer a:hover {
  text-decoration: underline;
}

.footer-description {
  text-align: center;
  color: rgb(68, 67, 67);
}
